:root {
    --primary-text-color:#757575;
    --title-text-color:#212121;
    --accent-text-color:#2196F3;
}
body {
 background-color: #FFFFFF;
 color: #757575;
 font-family:'Roboto', sans-serif;
}
.list {
    list-style: none;
}
/*The color of the main text #757575*/
/*Secondary text color #000000*/
/*White color #FFFFFF8*/
/*White color with transparency rgba(255, 255, 255, 0.6)*/
/*Acсent color var(--accent-text-color)*/
/* Secondary color background #2F303A */
/*header*/
/* Logo */
.logo:hover {
color: var(--accent-text-color);
font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.logo .logo-web-word {
   color: var(--accent-text-color);
}
.logo-studio-word {
    color: #000000;
} 
/* Site-nav */
.site-nav a {
    color: #212121
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.site-nav a:hover,
.sate-nav a:focus {
    color: var(--accent-text-color);
}
.sate-nav .link.current {
color: var(--accent-text-color);
}
.studio-word {
color: var(--accent-text-color);
}
/* Contacts */
.our-contacts .list:hover,
.our-contacts .list:focus
 {
color: var(--accent-text-color);
}
.link-email {
color: var(--accent-text-color);
}
.link-tel {
    color: #757575;
}
/* Main content */
/* Hero */
.hero-title {
    color: #FFFFFF;
}
/* Sections */
.section-title {
    color: #212121;
}
/* Button*/
.button:hover,
.button:focus
 {
    background-color:var(--accent-text-color);
    color:#212121
}
.button.order {
    color: #FFFFFF;
}
.button.all {
color: #FFFFFF;
}